@import "./colours";

.action-button{
  width: 128px;
  height: 64px;
  padding: 0;
  background-color: $secondary-colour;
  color: white;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  opacity: 1;
  &.stretch{
    width: 100%;
  }
  &.hidden{
    opacity: 0;

  }

}
