@import "../../../styles/colours";
.form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;

  .input-field {
      display: flex;
      flex-direction: column;
      margin: 5px 0;


      label{
        margin: 5px 0;
        font-size: 1rem;
      }
    &__container{
      width: 100%;
      &_input{
        position: relative;
        margin: 5px 0;
        -webkit-appearance: none;
        background: none;
        border: none;
        border-radius: 0;
        border-bottom: solid 2px;
        outline:none;
        font-size: 1rem;
        width: 100%;
        border-color: black;

        &.correct{
          border-color: #FA9917;
        }

      }

      &_span{
        margin: 0;
        font-size: 0.75rem;
        cursor: default;
        transition: opacity 0.25s;
        opacity:  0;
        &.hidden{
          opacity:  1;
        }
      }
    }



    }
  //.input-field__container_input{
  //
  //}
  //.input-field__container_input:hover{
  //}
  //.input-field__container_input::after{
  //  content: "";
  //  height: 100%;
  //  width: 100%;
  //  background-color: #feff96;
  //  color: black;
  //  top: 0;
  //  left: 0;
  //}



  input[type=submit]{
    margin-top:15px;
    margin-bottom: 0;
    -webkit-appearance: none;
    background-color: $main-colour;
    border: none;
    height: 50px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: background-color 0.25s ease-in-out;

    &:hover{
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
    &:active{
      transition: background-color 0s ease-in-out;
      background-color: $secondary-colour;
    }
  }

  .label{
    cursor: pointer;
    margin: 15px auto;
    font-size: 1rem;
    transition: transform 0.25s ease-in-out;
    &:hover{
     transform: scale(1.025);
    }
  }

}

.auth-button-invalid, .auth-button-valid {
  background-color: $main-colour;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  height: 50px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  }
}
.auth-button-invalid:active {
  background-color: #B00020;
  transition: background-color 0s ease-in-out;
}
.auth-button-valid:active {
  background-color: $secondary-colour;
  transition: background-color 0s ease-in-out;
}

.input-field__container_input{

}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

