
.staff-card{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 180px;
  height: 280px;
  margin: 20px 50px;
  transition: transform  0.5s ease-in-out;


  align-items: center;
  &:hover{
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
  }
  &.hidden{
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    transition: transform 0.5s ease-in-out;
  }
  &.selected{
    margin:200px auto;
    cursor: default;
    transform: scale(2);
  }
  &_img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  &_label{
    cursor: pointer;
    margin: 20px 0;
    font-size: 1.5rem;
  }

  &_span{
    cursor: pointer;
    font-size: 1.2rem;
  }
}
