@import "styles/actionButton";
@import "styles/colours";
@import "styles/input";
@import "styles/secondaryButton";
@import "styles/text";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap);

html{
  height: 100%;
  width: 100%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#root{
  height: 100%;
}
#modal-root{
  position: relative;
  z-index: 999;
}
.App{
  display: flex;
  flex-direction: column;
  height: 100%;

}
div{
  font-family: Montserrat, sans-serif;
}

button{
  font-family: Montserrat, sans-serif;
  background: none;
  border: none;
}
